<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
        <nav class="navbar" style="background-color:#96ccdf">

            <a class="navbar-brand" style="margin-top:5px;right:5px" href="/">Home</a>
            <a class="navbar-brand" style="margin-top:5px" href="login">Login</a>
            <!-- <a class="navbar-brand" style="margin-top:5px" href="logout">Logout</a> -->
            <a class="navbar-brand" style="margin-top:5px" href="goals">Goals</a>
            <a class="navbar-brand" style="margin-top:5px" href="graphs">Graphs</a>
        </nav>
    <body>
        {% block top %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    </body>
    <!-- <footer>
        WEBSITE
    </footer> -->
</html>
