<!DOCTYPE html>
<html>
<head>
  <link rel="icon"
        type="image/png"
        href="../static/bellbag.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>BudgetBuddy: Goals</title>

</head>
<style>
    input{
        width: 30%;
    }
</style>
<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
<!-- <div class="topnav">
    <a href="#welcome">Welcome</a>
    <a class="active" href="#goals">Goals</a>
    <a href="#budget">Your Current Spending</a>
  </div>  -->
<body>
  <center>
   <h2><br> These are the categories that are most variable throughout groups, and can be used to cut down on expenses:</h2>
   <form action="/set_goals" method="POST">
              <br><b> Budget</b>
              <br><small><i> What is your monthly budget in dollars?</i> </small>
              <br><input type = "number" name = "t1" min = "0" required>
              <br><b> Dining Out </b>
              <br><small><i> What percentage of your money do you want to spend at Restaurants and Cafes?</i> </small>
              <br><input type = "number" name = "t2" min = "0" max ="100" required>
              <br><b> Groceries</b>
              <br><small><i> What percentage of your money do you want to spend shopping for groceries?</i> </small>
              <br><input type = "number" name = "t3" min = "0" max ="100" required>
              <br><b> Entertainment</b>
              <br><small><i> What percentage of your money do you want to spend on things like subscription services and other activities used for entertainment, such as going to the movies?</i> </small>
              <br><input type = "number" name = "t4" min = "0" max ="100" required>
              <br><b> Personal/Misc</b>
              <br><small><i> What percentage of your money do you want to spend on buying other things, such as clothing and supplies?</i> </small>
              <br><input type = "number" name = "t5" min = "0" max ="100" required>
              <br>
              <br>
              <input class=submit type="submit" value="Submit">
</form>

</center>
<!-- </script> -->

</body>
</html>
