{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Budget Buddy: Goals</title>
</head>  
<div class="topnav">
    <a href="#welcome">Welcome</a>
    <a class="active" href="#goals">Goals</a>
    <a href="#budget">Your Current Spending</a>
  </div> 
<body>
 <h2><br> These are the categories that are most variable throughout groups, and can be used to cut down on expenses:</h2>
 <form>
            <br><b> Dining Out </b> 
            <br><small><i> How much money do you want to spend at Restaurants and Cafes?</i> </small>
            <br><input type = " " name="" id = "t1">
            <br><b> Groceries</b>
            <br><small><i> How much money do you want to spend shopping for groceries?</i> </small>
            <br><input type = " " name="" id = "t2">
            <br><b> Entertainment</b>
            <br><small><i> How much money do you want to spend on things like subscription services and other activities used for entertainment, such as going to the movies?</i> </small>
            <br><input type = " " name="" id = "t3">
            <br><b> Personal/Misc</b>
            <br><small><i> How much money do you want to spend on buying other things, such as clothing and supplies?</i> </small>
            <br><input type = " " name="" id = "t4">
</form>
</script>
</body>
</html>