<!DOCTYPE html>
<html>
    <head>
      <link rel="icon"
            type="image/png"
            href="../static/bellbag.png">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta charset="utf-8" />
        <title>BudgetBuddy: Monthly Expense</title>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>

    </head>

    <body>
      <center>
        <h1>{{ title }}</h1>
      </center>
      <form action="/update_spending" method="POST">
        <input type="radio" id="takeout" name="takeout" value="takeout">
        <label for="takeout">Takeout</label><br>
        <input type="radio" id="groceries" name="groceries" value="groceries">
        <label for="groceries">Groceries</label><br>
        <input type="radio" id="ent" name="ent" value="ent">
        <label for="ent">Entertainment</label> <br>
        <input type="radio" id="misc" name="misc" value="misc">
        <label for="misc">Misc</label><br>
        <input type="number" name = "amount" required>
          <br>
        <input type="hidden" name= "old_dining" value="{{dining}}">
        <input type="hidden" name= "old_groceries" value="{{groceries}}">
        <input type="hidden" name= "old_ent" value="{{ent}}">
        <input type="hidden" name= "old_misc" value="{{misc}}">
        <input type="hidden" name= "budg" value="{{budg}}">
        <input type="hidden" name= "goal_dining" value="{{goal_dining}}">
        <input type="hidden" name= "goal_groceries" value="{{goal_groc}}">
        <input type="hidden" name= "goal_ent" value="{{goal_ent}}">
        <input type="hidden" name= "goal_misc" value="{{goal_misc}}">
          <input class=submit type="submit" value="Submit">
</form>
      <!-- <center> -->
        <!-- <canvas id="chart" width="900" height="575"></canvas>
        <script>
          // bar chart data
          var barData = {
            labels : [
              {% for item in labels %}
               "{{ item }}",
              {% endfor %}
      ],

            datasets : [{
              backgroundColor: ["rgba(14,72,100,1)",
              "rgba(255,72,100,1)",
              "rgba(14,72,100,1)",
              "rgba(255,72,100,1)",
              "rgba(14,72,100,1)",
              "rgba(255,72,100,1)",
              "rgba(14,72,100,1)",
              "rgba(255,72,100,1)"],
              borderColor: 'rgb(255, 99, 132)',

              // fillColor: "rgba(151,187,205,0.2)",
              // strokeColor: "rgba(151,187,205,1)",
              // pointColor: "rgba(151,187,205,1)",
              data : [
                {% for item in values %}
                   "{{ item }}",
                  {% endfor %}
                ]
                }
            ]
          }

         // get bar chart canvas
         var mychart = document.getElementById("chart").getContext("2d");

           steps = 10
           max = {{max}}

         // draw bar chart
         new Chart(mychart).Bar(barData, {
           scaleOverride: true,
           scaleSteps: steps,
           scaleStepWidth: Math.ceil(max / steps),
           scaleStartValue: 0,
           scaleShowVerticalLines: true,
           scaleShowGridLines : true,
           barShowStroke : true,
           scaleShowLabels: true
           }
         );

        </script> -->
        <!-- <center> -->
        <canvas id="myChart" width="800" height="575" style="padding:15px;margin:0px;"></canvas>
        <!-- </center>  -->
        <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: [
                    {% for item in labels %}
                     "{{ item }}",
                    {% endfor %}
            ],
                  datasets: [{
                      // label: '# of Votes',
                      data: [
                      {% for item in values %}
                         "{{ item }}",
                        {% endfor %}
                        ],
                      backgroundColor: [
                          'rgba(0, 0, 255, 0.2)',
                          'rgba(0, 255, 0, 0.2)',
                          'rgba(0, 0, 255, 0.2)',
                          'rgba(0, 255, 0, 0.2)',
                          'rgba(0, 0, 255, 0.2)',
                          'rgba(0, 255, 0, 0.2)',
                          'rgba(0, 0, 255, 0.2)',
                          'rgba(0, 255, 0, 0.2)',


                      ],
                      borderColor: [
                          'rgba(0, 0, 255, 0.1)',
                          'rgba(0, 255, 0, 1)',
                          'rgba(0, 0, 255, 0.1)',
                          'rgba(0, 255, 0, 1)',
                          'rgba(0, 0, 255, 0.1)',
                          'rgba(0, 255, 0, 1)',
                          'rgba(0, 0, 255, 0.1)',
                          'rgba(0, 255, 0, 1)',
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                legend: {
        display: false,
      },
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: true
                          }
                      }]
                  },
                  responsive: false,
              },
          });
          </script>
      <style>
        canvas{
          display:inline;
          /* float:left; */
          margin-left: 15px; 
          padding:15px;
          right: 0px; 
        }
        form{
          display:block;
          float:right;
          /* top: 0px; */
          padding:15px; 
          margin-right: 70px;
        }
        quest{
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        label{
          font-size:25px; 
        }
        }
      </style>
      
<br>
<!-- <center> -->
<div id= "quest">
      <h1>
      Tips to Decrease Your Spending!
      </h1>
      <ul><li>Sleep on it!</li>
      <li>If you still want to make the purchase the next day, you can ensure you really want it.</li>
      <li>Ask yourself, ‘Do I need this?”</li>
      <li>Ask yourself how many hours of work it will take to pay this item off?</li>
      <li>Think of your credit card as a debit card</li>
      <li>Take up less expensive hobbies to reduce spending, like cooking</li>
      <li>Think of your saving goals whenever you feel tempted</li>
      <li>Remember that you can do this</li>
      </ul>
    </div>
    <!-- </center> -->

    </body>
        
</html>
