<!DOCTYPE html>
<html>
    <head>
      <link rel="icon"
            type="image/png"
            href="../static/bellbag.png">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>BudgetBuddy</title>
    </head>

    <body>

      <div align="center" style="transform: translateY(25%)">
        <h1>BudgetBuddy</h1>
      </div>

      <div align="center" style="transform: translateY(25%)">
        Many young adults struggle with budgeting and managing their finances now more than ever.  Our solution to reinvent banking for young adults is to provide them a way to see what ways they can save their money by tagging purchases where the money could be used for better uses.  This allows users to see opportunities for them to save money based on their current spending habits.
      </div>
      <div align="center">
        <form action="/get_goal">
          <input type="submit" value="GET STARTED!" />
        </form>
      </div>

    </body>
        <!-- <footer>
            WEBSITE
        </footer> -->
</html>
